.Page404 {
  text-align: center;
  background-color: black;
  height: 100vh;
  overflow: hidden;

  .Page404__paragraph {
    font-size: 20px;
    color: white;
  }

  @media only screen and (max-width: $break-small) {
    .Page404__paragraph {
      margin: auto 20px;
    }
  }
}
