.Loading {
  $sizeWidth: 40px;
  width: $sizeWidth * 2;
  position: relative;
  margin: 100px auto 0;

  & > * {
    position: absolute;
    width: 0;
    height: 0;
  }

  .arrow-up {
    border-left: $sizeWidth solid transparent;
    border-right: $sizeWidth solid transparent;
    border-bottom: $sizeWidth solid $orange;
    top: $sizeWidth;
    animation: fadeOut 1s ease 0s infinite;
  }

  .arrow-right {
    border-top: $sizeWidth solid transparent;
    border-bottom: $sizeWidth solid transparent;
    border-left: $sizeWidth solid $green;
    left: 0;
    animation: fadeOut 1s ease 0.2s infinite;
  }

  .arrow-down {
    border-left: $sizeWidth solid transparent;
    border-right: $sizeWidth solid transparent;
    border-top: $sizeWidth solid $red;
    top: 0;
    animation: fadeOut 1s ease 0.4s infinite;
  }

  .arrow-left {
    border-top: $sizeWidth solid transparent;
    border-bottom: $sizeWidth solid transparent;
    border-right: $sizeWidth solid $blue;
    right: 0;
    animation: fadeOut 1s ease 0.6s infinite;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
