.LostMessage {
  .LostMessage__paragraph {
    font-size: 20px;
    color: white;
  }

  .LostMessage__button {
    &--main {
      background-color: white;
      border: 1px solid white;
      color: #111;
      outline: 0;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }

    &--secondary {
      box-sizing: border-box;
      border: 1px solid white;
      color: white;
      outline: 0;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
